html, body, #map {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Yantramanav', sans-serif;
}

a {
    text-decoration-color: #ff69af;
    color: black;
    font-size: 18px;
}

#bakeries {
    background-color: rgba(#fff, 0.8);
    width: 350px;
    height: 50%;
    position: absolute;
    z-index: 1;
    overflow-x: hidden;
    transition: all .2s ease-out;
    border: 3px dotted #ff69af;
    border-radius: 20px;
    padding: 1em;
    margin: 2em;

    .details {
        cursor: pointer;
        font-size: 20px;
        letter-spacing: 0.05em;
        padding: 0.5em;
        margin: 0;

        &:hover {
            background-color: #ff69af;
            border-radius: 10px;
        }
    }
}